* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #d9e2ec;
}

.calendar {
  background-color: $basic-white;
  height: 90vh;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(122, 122, 122, 0.75);
  padding: 2rem 4rem;

  h2 {
    text-align: center;
  }

  &__dayOfWeek {
    margin-top: 2rem;

    >div {
      text-align: center;
      font-weight: bold;
    }
  }

  &__dateGrid {
    margin-top: 1rem;

    >div {
      position: relative;
      height: 13vh;
      border: 1px solid #999;

      &:hover .MuiButtonBase-root {
        display: inline-block;
      }

      &:first-child {
        grid-column: 3;
      }
    }
  }

  &__action {
    position: absolute;
    left: 0px;
    top: 0px;

    &>button {
      display: none;
    }

    .MuiSvgIcon-root {
      font-size: small;
    }
  }

  &__main {
    >div {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  &__days {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;

    &--active {
      background: $blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      strong {
        color: white;
      }
    }

    strong {
      font-size: 12px;
    }
  }

  &__listSchedule {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 0.10rem;

    small {
      font-size: xx-small;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 2px 0px;
      cursor: pointer;
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 5px #cecece;
    box-sizing: border-box;
    padding: 1rem;
    outline: none;

    &__header {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }
}